<<<<<<< HEAD
* {
	margin: 0;
    padding: 0;
}
/*body*/
body {
	font-family: 'Crimson Text', sans-serif;
}

a {
	text-decoration: none;
	color: #369; 
}

/*Header and Section*/

header, 
section {
	margin: 30px auto;
	width: 825px;
	display: block;

}

/*HR styles*/
hr {
	background: white url('../img/img-hr.png') no-repeat scroll 50% 50%;
	clear: both;
	border:0;
	height: 12px;
}

/*sup scripts styles*/
sup {
	color: #999;
	font-weight: normal;
	font-size: 11px;
}

/*Navigation*/

nav {
	height: 50px;
	width: 100%;

}

nav ul {
	float:right;
	padding: 10px 30px;
	margin: 12px 18px;
	display: inline-block;
}
nav li {
	margin: 0 5px;
	padding:5px;
	font-size: 12px;
	display: inline-block;
	color:#369;
}

/*nav hover*/

nav a:hover {
	color: #18AFE0;
}

.signin {
	color: #18AFE0;
}

.signin:hover {
	color: #369;
}

/*Header*/

header {
	clear: both;
	height: 163px;
	padding: 6px 0;
	text-align: center;
}
header h1 {
	font-size: 58px;
	line-height: 1em;
	margin: 10px 0;
	color: #232323;
}
header h5 {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.5em;
	margin: 10px 0;
	color: #222;
}

/*Products*/
.products {
	text-align: center;
	height: 288px;
	padding-bottom: 30px;
}

.products a {
	position: relative;
	top: 40px;
	left: 75px;
	width: 160px;
	margin: 15px 20px 5px;
	float: left;
	border: 1px solid #E8E8E8;
	border-radius: 5px;
	box-shadow: 0 0 5px #EFEFEF;
	padding: 20px 10px;
	text-decoration: none;
	font-family: 'Roboto' , sans-serif;
}
.products h3 {
	font-size: 21px;
	color: #369;
	font-weight: bold;
	line-height: 1.5em;
	margin-bottom: 10px;
}
.products h3 span {
	text-decoration: underline;
}
.products h4 {
	margin: 10px 0;
	font-size: 14px;
	color: #C00;
}
.products p {
	color: #222;
	font-size: 14px;
	line-height: 1.4em;
	margin: 5px 0;
}
/*Customers*/
.customers {
	margin-bottom: 50px;
	position: relative;
}
.customers h2 {
	color: #232323;
	font-size: 48px;
	line-height: 1.1em;
	letter-spacing: -1px;
	text-align: center;
}
.customers p {
	font-size: 22px;
	line-height: 1.3em;
	color: #666;
	margin-bottom: 20px;
}
/*Meet some customers*/
.meet {
	position: absolute;
	left: -140px;
	top: 70px;
}
.meet a {
	display: block;
	width: 143px;
	height: 104px;
	background: url('../img/img-customers.png') no-repeat 0 0;
	text-indent: -1000em;
}
.meet a:hover {
	background-position: 0 100%;
}
.meet p {
	font-size: 14px;
	text-align: center;
	color: #369;
}
.meet p:hover {
	color: #69C;
	text-decoration: underline;
}
/*Red Arrow Image*/
.arrow-left {
	width: 69px;
	height: 36px;
	position: relative;
	top: -35px;
}
/*Globe Image*/
.globe {
	float: right;
}
/*Manifesto*/
.manifesto {
	margin-bottom: 50px;
	padding-left: 15px;
	overflow: hidden;
	text-align: center;
}
.manifesto h2 {
	color: #232323;
	font-size: 48px;
	line-height: 1.1em;
	letter-spacing: -1px;
	margin: 30px 0;
}
.column, .column-end {
	float: left;
	color: #222;
	font-size: 18px;
	line-height: 1.5em;
}
.column {
	width: 380px;
	margin-right: 40px;
}
.column-end {
	margin-right: 0px;
	width: 380px;
}
.manifesto h3 {
	float: left;
	font-size: 58px;
	line-height: normal;
	margin: -10px 15px 0 0;
	color: #CCC;
}
.manifesto h4 {
	font-family: 'Roboto' , sans-serif;
	margin: 5px 0;
	color: #C00;
	text-align: left;
}
.manifesto p {
	font-family: 'Roboto' , sans-serif;
	text-align: left;
	line-height: 1.4em;
	font-size: 12px;
}
/*Rework*/
.rework {
	height: 500px;
	position: relative;
}
.rework h2 {
	margin: 30px 0;
	font-size: 48px;
	line-height: 1.1em;
	letter-spacing: -1px;
	text-align: center;
}
/*Book Image*/
.book {
	float: left;
}
/*Quotes*/
.quotes {
	padding-top: 5px;
	text-align: center;
}
.quotes h3 {
	color: #888;
	font-weight: normal;
	font-family: "CrimsonRomanItalic" , serif;
	font-style: italic;
	font-size: 22px;
	margin-top: 35px;
	margin-bottom: 10px;
}
.quotes p {
	font-family: 'Roboto' , sans-serif;
	font-size: 12px;
}
/*Arrow right image*/
.arrow-right {
	width: 69px;
	position: absolute;
	top: 140px;
	right: 5px;
}
/*Crumpled paper image*/
.crumple {
	position: absolute;
	top: 50px;
	right: -125px;
}
.crumple p {
	font-size: 12px;
	text-align: center;
}
.crumple p:hover {
	color: #69C;
	text-decoration: underline;
}
/*Offerings*/
.offerings h2 {
	margin: 30px 0;
	font-size: 48px;
	text-align: center;
}
.offerings .column h3, 
.offerings .column-end h3 {
	margin: 5px 0;
	font-size: 14px;
	color: #C00;
}
.offerings .column h3, 
.offerings .column-end h3 {
	border-bottom: 1px solid #E8E8E8;
	font-family: 'Roboto' , sans-serif;
	font-size: 16px;
}
.offerings .column {
	float: left;
	width: 300px;
	margin-right: 30px;
	margin-left: 110px;
	text-align: center;
}
.offerings .column-end {
	float: left;
	width: 300px;
	padding: 0;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 30px;
	text-align: center;
}
.offerings .column li, 
.offerings .column-end li {
	list-style-type: none;
	padding: 5px;
}
.offerings .column a, 
.offerings .column-end a {
	font-size: 22px;
	font-weight: bold;
	color: #222;
}
.offerings .column small, 
.offerings .column-end small {
	color: #666;
	font-size: 12px;
	font-family: 'Lucida Grande', sans-serif
}
/*Footer*/
footer {
	margin: 30px auto;
	text-align: center;
	line-height: 1.5em;
	font-family: 'Lucida Grande' , sans-serif;
}
footer h3 {
	font-size: 14px;
	color: #C00;
}
footer a {
	text-decoration: none;
}
footer li {
	font-size: 12px;
	padding: 5px 0;
}
footer a:hover {
	color: #69C;
}
footer p {
	font-size: 10px;
	color: #999; 
	margin-top: 50px;
}




















=======

/*Sitewide Styles*/
/*select all things - seriously use this one very wisely*/
* {
	color: #000;
}
/*select the body tag*/
body {
	background: none repeat scroll 0 0 #fff;
	color: #222;
	margin: 0;
}
/*select all anchor tags*/
a {
	color: #222;
	text-decoration: none;
}
/*select all anchor tags that are hovered on*/
a.hover {
	color:#222;
	text-decoration: underline;
}
/*select all anchor tags that have a class of button are hovered on*/
a.button:hover {
	text-decoration: none;
}
/*Top Section - Navigation*/
/*select any elements with a class of topnav*/
.topNav {
	float: right;
	margin-right: 25px;
}
/*select any elements with a class of topnav and find any li tags inside those*/
.topNav li{
	list-style: none;
	display: inline-block;
	padding: 5px 10px 0 0;
	vertical-align: bottom;
	margin: 5px 5px 0 0;
	font-size: 13px
}
/*selec any elements with a class of topnav, then find any li tags inside, and any tags inside those*/
.topNav li a {
	position: relative;
	top: -3px;
}
/*select the font awesome standard class .fa - this is the link found in the <head> of your index.html*/
.fa {
	font-size: 20px;
	vertical-align: top;
	opacity: 0.7;
	cursor: default;
}

/*select the font awesome class .fa on user hoverhover*/
.fa:hover {
	opacity: 1.0;
	cursor: pointer;
}
/*select any elements with a class of sharebutton*/
.sharebutton {
	background-color: #f2f2f2;
	padding: 7px 15px;
	cursor: default;
	position: relative;
	top: -3px;
}
/*select any elements with a class of sharebutton that is hovered on*/
.sharebutton:hover {
	background-color: #E1E1E1;
	cursor: pointer;
}
/*select any elements with a class of profileimg*/
.profileimg {
	border-radius: 25px;
	height: 32px;
	width: 32px;
	position: relative;
	top: 7px;	
}
/*Middle Section - Search Box*/
/*select any elements with a class of searchbox*/
.searchbox {
	position: absolute;
	margin-top: 75px;
	width: 100%;
}
/*select any elements with a class of searchbox and then find any img tags inside*/
.searchbox img{
	padding: 142px 0 24px 0;
	display: block;
	margin: auto;
}
/*select any elements with a class of searchbox then find any input tags inside*/
.searchbox input {
	width: 600px;
	margin: 0 auto;
	padding: 5px;
	border: 1px solid #d9d9d9;
	font-size: 16px;
	border-radius: 5px;
	display: block;
}
/*select any elements with a class of searchbox and then find any input tags inside that are currently focused*/
.searchbox input:focus {
	border-color: #f5f5f5;
}
/*select any elements with a class of searchbutton*/
.searchbuttons {
	text-align: center;
	padding-left: 0;
}
/*select any elements with a class of searchbuttons and find all button tags inside*/
.searchbuttons button {
	background-color: #f5f5f5;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 2px;
	color: #666;
	font-size: 14px;
	font-weight: bold;
	line-height: 27px;
	margin: 17px 6px;
	padding: 0 12px;
	display: inline-block;
	cursor: pointer;
}
/*select any elements with a class of searchbuttons and find all button tags inside when the user hovers over them */
.searchbuttons button:hover{
	background-color: #f8f8f8;
	border:1px solid #c6c6c6;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	color: #333;
}
/*Bottom Section - Site Links*/
/*select any elements with a class of bottomlinks and do this*/
.bottomlinks {
	bottom: 0 !important;
	position: absolute;
	width: 100%;
	background-color: #f2f2f2;
	border-top: 1px solid #e4e4e4;
}
/*select any elements with a class of left and select any elements with a class of right and do this*/
.left,
.right {
	margin: 0;
}
/*select any elements with a class of left and do this*/
.left {
	float: left;
	padding-left: 20px;
}
/*select any elements with a class of right and do this*/
.right {
	float: right;
	padding-right: 10px;
}
/*select any elements with a class of left and find all li tags inside and select any elements with a class of right-site-links and find all li tags inside*/
.left li,
.right li  {
	list-style: none;
	display: inline;
	line-height: 40px;
}
/*select any elements with a class of righ and find all li tags inside then the 1st anchor tags inside*/
.right li a:first-child {
	padding-right: 8px;
}
/*select any elements with a class of left and find all li tags inside then the 2nd anchor tags inside and select any elements with a class of left and find all li tags inside then the 3rd anchor tags inside*/
.left li:nth-child(2),
.left li:nth-child(3) {
	margin-left: 7px;
}
/*select any elements with a class of left and find all li tags inside then all the anchor tags inside and select any elements with a class of right and find all li tags inside then all the anchor tags inside*/
.left li a,
.right li a {
	color: #666;
	margin: 2px 10px 0;
	letter-spacing: 0.1px;
	font-size: 14px;
}
>>>>>>> 0209015620e421e0de98f0a0d3eb1c346533a263
